[Unit]
Description=Common Service

[Service]
WorkingDirectory=/opt/stream-services/cloudobs/
User=stream
Restart=always
ExecStart=python3 /opt/stream-services/cloudobs/common_service.py

[Install]
WantedBy=multi-user.target
