[Unit]
Description=Instance Service

[Service]
WorkingDirectory=/opt/stream-services/cloudobs/
#User=stream
Restart=always
ExecStart=python3 /opt/stream-services/cloudobs/instance_service.py

[Install]
WantedBy=multi-user.target
