[Unit]
Description=Minions Service

[Service]
WorkingDirectory=/home/user/
User=user
Restart=always
ExecStart=/bin/bash -ic 'python3 /opt/stream-services/cloudobs/minions_service.py'

[Install]
WantedBy=multi-user.target
