[Unit]
Description=TeamSpeak3

[Service]
WorkingDirectory=/home/stream/ts
User=stream
Restart=on-failure
ExecStart=/home/stream/ts/ts3client_runscript.sh ts3server://ts.it-planeta.com?port=10335&channel=Translation/${lang}&nickname=${lang}_Synthetic_StreamListener
Environment="DISPLAY=:1"

[Install]
kantedBy=multi-user.target
